$breakpoint-small: 668px

.nav-desktop
  display: flex
  align-items: center
  height: 100%
  justify-content: space-between
  @media screen and (max-width: $breakpoint-small)
    display: none

  &-links
    display: flex
    flex-direction: row
    list-style: none
    gap: 1rem

    li
      cursor: pointer

    a
      color: inherit
      text-decoration: none

.nav-mobile
  display: flex
  align-items: center
  height: 100%
  justify-content: space-between
  @media (min-width: $breakpoint-small)
    display: none

  &-links
    display: flex
    flex-direction: column 
    list-style: none
    gap: 0.5rem
    padding: 0

    a
      color: inherit
      text-decoration: none
